/* 루트 컨테이너 */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

/* 메인 컨텐츠 */
.main-content {
  flex: 1;
  align-items: center;
  justify-content: center;
}

/* 모바일 반응형 스타일 
@media (max-width: 768px) {
  .main-content {
  }
}
*/

/* 태블릿 반응형 스타일 
@media (max-width: 1024px) and (min-width: 769px) {
  .main-content {
  }
}
*/
